import("quadprog")
importFrom("graphics", "lines", "plot", "points")
importFrom("stats", "dbinom", "dexp", "dnorm", "dpois", "pchisq",
           "pexp", "pnorm", "qexp", "qnorm", "qpois", "rbinom", "rexp",
           "rmultinom", "rnorm", "rpois", "runif", "sd", "uniroot",
           "var")
export("emtest.binom")
export("emtest.exp")
export("emtest.norm0")
export("emtest.norm")
export("emtest.pois")
export("pmle.binom")
export("pmle.exp")
export("pmle.norm0")
export("pmle.norm")
export("pmle.pois")
export("rmix.binom")
export("rmix.exp")
export("rmix.norm")
export("rmix.pois")
export("plotmix.binom")
export("plotmix.exp")
export("plotmix.norm0")
export("plotmix.norm")
export("plotmix.pois")
